body
{
    font-family         : 'Playfair Display', serif;
    background-image    : url('images/beige2.jpg');
    background-repeat   : repeat;
    background-position : center;
    background-size     : 100vw 100vh;
}

.u-section-1 .u-sheet-1
{
    min-height : 590px;
}

.u-section-1 .u-group-1
{
    width       : 686px;
    min-height  : 74px;
    margin-top  : 1rem;
    margin-left : 13em;
}

.u-section-1 .u-repeater-1
{
    width                 : 78em;
    max-height            : 50em;
    margin-top            : 4em;
    margin-right          : auto;
    margin-left           : -6rem;
    grid-auto-columns     : calc(50% - 50px);
    grid-template-columns : calc(50% - 50px) calc(50% - 50px);
    grid-auto-rows        : calc(35% - 0px);
    grid-gap              : 40px 200px;
}

.u-section-1 .u-list-item-1
{
    margin-bottom       : -1em;
    transition-duration : 3s;
    animation-duration  : 1500ms;
    box-shadow          : 4px 4px 10px 2px rgba(100, 83, 53, 0.9);
}

.u-section-1 .u-container-layout-1
{
    padding-right : 30px;
    padding-left  : 30px;
}

.u-section-1 .u-btn-1
{
    margin       : 1em auto 0 20em;
    padding      : 0.3em 2em;
    font-size    : 1.5em;
    font-weight  : 700;
    border-style : solid;
    box-shadow   : 5px 5px 11px 0 rgba(100, 83, 53, 1);
}

.u-section-1 .u-btn-2
{
    margin       : -1.8em auto 0 1em;
    padding      : 0.3em 2em;
    font-size    : 1.5em;
    font-weight  : 700;
    border-style : solid;
    box-shadow   : 5px 5px 11px 0 rgba(100, 83, 53, 1);
}

.fa-plus, .fa-book
{
    margin-right : 1em;
    font-size    : 20px;
    color        : #645335;
}

.u-section-1 .u-btn-2:hover .fa-plus,
.u-section-1 .u-btn-1:hover .fa-book
{
    color : white;
}

.u-section-1 .u-btn-1:hover,
.u-section-1 .u-btn-2:hover
{
    box-shadow : none;
}

.u-section-1 .u-text-1
{
    width       : 342px;
    margin      : 0.5em auto 0 8em;
    font-size   : 5rem;
    text-shadow : 5px 5px 4px rgba(100, 83, 53, 0.3);
}

/* Group CSS */

.u-section-1 .u-group-2
{
    width            : 252px;
    height           : fit-content;
    min-height       : 129px;
    margin           : 1em 7em 0 10em;
    background-image : none;
    box-shadow       : 8px 8px 16px 3px rgba(100, 83, 53, 1);
}

.u-section-1 .u-group-2:hover
{
    box-shadow : 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.u-section-1 .u-container-layout-2
{
    padding-right : 30px;
    padding-left  : 30px;
}

.u-section-1 .u-image-1
{
    background-size : cover;
    filter          : brightness(50%);
}

.u-section-1 .u-image-1:hover
{

}

.u-section-1 .u-text-2
{
    width          : 132px;
    margin         : 1em auto 0 1.5em;
    font-size      : 1.7em;
    font-weight    : 700;
    font-style     : italic;
    letter-spacing : 1px;
    color          : white;
}

.Buttons
{
    display    : flex;
    margin-top : 1em;
}

.u-section-1 .edit
{
    margin         : 1rem 0 0 -0.2em;
    font-size      : 1em;
    font-weight    : 700;
    font-style     : italic;
    text-transform : none;
    border-style   : solid;
    box-shadow     : 4px 4px 14px 0 rgba(47, 39, 25, 1);

}

.fa-trash
{
    margin-top   : 1.3rem;
    margin-right : 1em;
    margin-left  : 1.7em;
    font-size    : 2.2em;
    color        : #645335;
}

.fa-trash:hover
{
    color : #C5A978;
}

/* Confirmation Popup Screen */

.AddMeal,
.Info,
.deleteConfirm,
.EditSection,
.AddSection
{
    position   : fixed;
    z-index    : 10000;
    top        : 0;
    left       : 0;
    display    : none;
    overflow   : auto;
    width      : 100%;
    height     : 100%;
    cursor     : pointer;
    text-align : center;
    background : rgba(100, 83, 53, 0.5);
}

.AddMeal .helper,
.Info .helper,
.deleteConfirm .helper,
.EditSection .helper,
.AddSection .helper
{
    display        : inline-block;
    height         : 100%;
    vertical-align : middle;
}

.AddMeal > div,
.Info > div,
.deleteConfirm > div,
.EditSection > div,
.AddSection > div
{
    position         : relative;
    display          : inline-block;
    width            : 60%;
    height           : 100%;
    min-height       : 100px;
    max-height       : 551px;
    padding          : 15px 5%;
    vertical-align   : middle;
    border-radius    : 20px;
    background-color : #D9C79E;
    box-shadow       : 10px 10px 60px rgb(100, 83, 53);
}

.deleteConfirm > div
{
    height : auto;
}

.AddMeal .ACloseButton,
.Info .CloseButton,
.deleteConfirm .DCloseButton,
.EditSection .CloseButton,
.AddSection .ACloseButton
{
    position         : absolute;
    top              : -20px;
    right            : -20px;
    left             : -10px;
    display          : inline-block;
    width            : 30px;
    height           : 30px;
    cursor           : pointer;
    font-family      : Arial, serif;
    font-size        : 25px;
    font-weight      : bold;
    font-style       : italic;
    line-height      : 30px;
    text-align       : center;
    color            : #2E2C25;
    border-radius    : 50px;
    background-color : #D9C79E;

    box-shadow       : 4px 4px 14px 0 rgb(100, 83, 53);
}

.ACloseButton:hover,
.CloseButton:hover,
.DCloseButton:hover,
.CloseButton:hover
{
    background-color : rgb(100, 83, 53);
}

.trigger
{
    margin      : 20px;
    cursor      : pointer;
    font-size   : 20px;
    font-weight : bold;
}

.ConfirmButton,
.deleteButton
{
    margin-bottom  : 0;
    margin-left    : 22em;
    font-style     : italic;
    text-transform : none;
    border-style   : solid;
    box-shadow     : 4px 4px 14px 0 rgba(47, 39, 25, 1);
}

.ConfirmText
{
    font-family : 'Playfair Display', serif;
    font-size   : 3rem;
    font-style  : italic;
    color       : #2E2C25;
}

/* Inner Form */

.u-section-1 .u-inner-form
{
    display     : block;
    width       : 500px;
    height      : 168px;
    margin-top  : 4em;
    margin-left : 12em;
}

.u-section-1 .u-input-2
{
    margin-bottom : 5em;
    margin-left   : 8em;
    font-size     : 1.2em;
    border-bottom : none;
}

.u-section-1 label
{
    font-size : 2em;
}

.u-section-1 .AddSectionName
{
    font-size      : 1.7em;
    text-transform : capitalize;
}

.u-section-1 .SaveSectionButton
{
    font-size      : 1.7em;
    font-weight    : 700;
    font-style     : italic;
    letter-spacing : normal;
    text-transform : none;
    border-style   : solid;
    box-shadow     : 5px 5px 16px 0px rgb(100, 83, 53);
}

.u-section-1 .SaveSectionButton:hover
{
    box-shadow : none;
}

.u-section-1 .AddSectionImage
{
    width       : 279px;
    height      : 188px;
    margin-left : 10em;
}

/* Header */

#userIcon
{
    width              : 3.8125em;
    height             : 3.8125em;
    margin             : -2.75em -1.9375em 2.625em 80em;
    cursor             : pointer;
    animation-name     : slideInDown;
    animation-duration : 2000ms;
    box-shadow         : 0px 0 13px 3px rgba(100, 83, 53, 0.5);
    will-change        : transform;

}

#userIcon:hover
{
    cursor     : pointer;
    border     : none;
    box-shadow : none;
}

.xxx
{
    position            : fixed;
    z-index             : 1;
    top                 : 9rem;
    right               : 12.5rem;
    display             : none;
    min-width           : 10em;
    animation-name      : fadeIn;
    animation-duration  : 1s;
    animation-direction : alternate;
    color               : #2E2C25;
    border-radius       : 10px;
    background-color    : rgba(197, 169, 120, 0.8);
    box-shadow          : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.xxx::after
{
    position     : absolute;
    bottom       : 95%;
    left         : 63%;
    margin-left  : -5px;
    content      : '';
    border-width : 10px;
    border-style : solid;
    border-color : rgb(197, 169, 120) transparent transparent transparent;
}

#userIcon:hover .xxx
{
    display : block;
}

.xxx li
{
    display         : block;
    padding         : 0.75em 1em;
    text-decoration : none;
    color           : #2E2C25;
}

.xxx li:hover
{
    border-radius    : 10px;
    background-color : #F1F1F1;
}

.dropdown
{
    position : relative;
    display  : inline-block;
}

.dropdown:hover .xxx
{
    display : block;
}

.dropdown:hover #userIcon
{
    background-color : #3E8E41;
}

.header .search-container
{
    float : right;
}

.search
{
    margin-top  : -4.125em;
    margin-left : 60em;
}

.header input[type=text]
{
    margin-top : 0.5em;
    padding    : 0.375em;
    font-size  : 1.0625em;
    border     : none;
}

.header .search-container button
{
    float        : right;
    margin-top   : 0.5em;
    margin-right : 0;
    padding      : 0.375em 0.625em;
    cursor       : pointer;
    font-size    : 1.0625em;
    border       : none;
    background   : #DDDDDD;
}

.header .search-container button:hover
{
    background : #CCCCCC;
}

@media (max-width : 1199px)
{
    .u-section-1 .u-container-layout-1
    {
        padding-top    : 30px;
        padding-bottom : 30px;
    }

    .u-section-1 .u-btn-1
    {
        margin-left : 355px;
    }

    .u-section-1 .u-group-2
    {
        margin-right : 646px;
        margin-left  : 42px;
    }

    .u-section-1 .u-container-layout-2
    {
        padding-top    : 0;
        padding-bottom : 0;
    }

    .u-section-1 .u-container-layout-3
    {
        padding-top    : 0;
        padding-bottom : 0;
    }

    .u-section-1 .u-container-layout-4
    {
        padding-top    : 0;
        padding-bottom : 0;
    }
}

@media (max-width : 991px)
{
    .u-section-1 .u-group-2
    {
        margin-right : 468px;
        margin-left  : 0;
    }
}

@media (max-width : 767px)
{
    .u-section-1 .u-group-1
    {
        width : 540px;
    }

    .u-section-1 .u-container-layout-1
    {
        padding-right : 10px;
        padding-left  : 10px;
    }

    .u-section-1 .u-btn-1
    {
        margin-top  : 4rem;
        margin-left : 25rem;
    }

    .u-section-1 .u-btn-2
    {
        margin-top  : -8rem;
        margin-left : -15rem;
    }

    .u-section-1 .u-group-2
    {
        margin-right : 288px;
    }

    .u-section-1 .u-container-layout-2
    {
        padding-right : 10px;
        padding-left  : 10px;
    }

    .u-section-1 .u-container-layout-3
    {
        padding-right : 10px;
        padding-left  : 10px;
    }

    .u-section-1 .u-container-layout-4
    {
        padding-right : 10px;
        padding-left  : 10px;
    }
}

@media (max-width : 575px)
{

    .u-section-1 .u-repeater-1
    {
        grid-template-columns : calc(50% - 50px);
        grid-auto-rows        : calc(25% - 0px);
    }
    .u-section-1 .u-group-1
    {
        width : 340px;
    }

    .u-section-1 .u-btn-1
    {
        margin-bottom : -10rem;
        margin-left   : -15rem;
    }

    .u-section-1 .u-text-1
    {
        width       : 340px;
        margin-top  : 10rem;
        margin-left : 2rem;
    }

    .u-section-1 .u-group-2
    {
        margin-left : 10rem;
    }

    .u-section-1 .u-group-3
    {
        margin-right : 88px;
    }
}
